@import '../../basic/var.scss';

$append-line-height: 0.16rem * 1.5 + $gap-tiny * 2;
input,
textarea {
    border: $border solid $light;
    outline: none;
    padding: $gap-tiny $gap-small;
    border-radius: 3px;

    &::placeholder {
        color: $gray;
    }
    &:focus {
        border-color: $green;

        &.g-input--green {
            border-color: $blue;
        }
        &.g-input--blue {
            border-color: $blue;
        }
        &.g-input--yellow {
            border-color: $yellow;
        }
        &.g-input--red {
            border-color: $red;
        }
    }

    &.g-input--status_green {
        border-color: $green;
        &::placeholder {
            color: darken($green, 20%);
        }
    }
    &.g-input--status_blue {
        border-color: $blue;
        &::placeholder {
            color: darken($blue, 20%);
        }
    }
    &.g-input--status_yellow {
        border-color: $yellow;
        &::placeholder {
            color: darken($yellow, 20%);
        }
    }
    &.g-input--status_red {
        border-color: $red;
        &::placeholder {
            color: darken($red, 20%);
        }
    }

    &[disabled] {
        border-color: $gray-light;
        background: $light;
        cursor: not-allowed;
    }

    &.g-input--big {
        padding: $gap-small $gap-middle;
        font-size: .25rem;
    }
    &.g-input--small {
        padding: 0 $gap-tiny;
        font-size: .12rem;
    }
}
.g-input--assign {
    font-size: 0;

    & > * {
        border-radius: 0;
        font-size: .16rem;
    }

    & :first-child {
        border-radius: 3px 0 0 3px;
    }
    & :last-child {
        border-radius: 0 3px 3px 0;
    }
    span {
        // float: left;
        font-size: .16rem;
        display: inline-block;
        padding: 0 $gap-small;
        border: $border solid $light;
        border-right: none;
        color: $gray;
        background: $light;
        line-height: 0.16rem * 1.5 + $gap-tiny * 2;
    }
}

textarea {
    max-width: 100%;
    height: 1rem;
}