@import '../../basic/var.scss';

input[type=radio] {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: .4rem solid $gray-light;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        transition: all .1s ease-in-out;
    }
    &::before {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border: .1rem solid $gray-light;
        background: $white;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        transition: all .1s ease-in-out;
    }

    &:checked {
        &::after {
            transform: translate(-50%, -50%) scale(1);
        }
        &::before {
            
        }
    }

    &.g-radio--green {
        &::before,
        &::after {
            border-color: $green;
        }
    }
    &.g-radio--blue {
        &::before,
        &::after {
            border-color: $blue;
        }
    }

    &.g-radio--yellow {
        &::before,
        &::after {
            border-color: $yellow;
        }
    }

    &.g-radio--red {
        &::before,
        &::after {
            border-color: $red;
        }
    }

    &[disabled] {
        cursor: not-allowed;
        &::before,
        &::after {
            border-color: $light;
        }
    }
}