@import '../../basic/var.scss';

$outer-height: .08rem;
$inner-height: .04rem;

input[type=radio] {
    display: none;
    -webkit-appearance: none;
}

[class *= g-radio] {
    position: relative;
    span {
        padding-left: $outer-height * 2 + .03rem;
        &::after {
            content: '';
            position: absolute;
            box-sizing: border-box;
            width: 0;
            height: 0;
            border: $inner-height solid $gray;
            border-radius: 50%;
            left: $outer-height - $inner-height;
            top: 50%;
            transform: translateY(-50%) scale(0);

            transition: all .1s ease-in-out;
        }
        &::before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            width: 0;
            height: 0;
            // border: $border solid $gray-light;
            border: $outer-height solid $light;
            background: $green;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            transition: all .1s ease-in-out;
        }
    }

    & input:checked {
        + span {
            &::after {
                transform: translateY(-50%) scale(1);
            }
            &::before {
                
            }
        }
    }

    & [disabled] + span {
        cursor: not-allowed;
        color: $gray-light;
        &::before {
            border-color: $light;
        }
        &::after {
            border-color: $gray-light;
        }
    }
}

.g-radio--green {
    span{
        &::before {
            border-color: $green;
        }
        &::after {
            border-color: darken($green, 30%);
        }
    }
}
.g-radio--blue {
    span{
        &::before {
            border-color: $blue;
        }
        &::after {
            border-color: darken($blue, 30%);
        }
    }
}

.g-radio--yellow {
    span{
        &::before {
            border-color: $yellow;
        }
        &::after {
            border-color: darken($yellow, 30%);
        }
    }
}

.g-radio--red {
    span{
        &::before {
            border-color: $red;
        }
        &::after {
            border-color: darken($red, 30%);
        }
    }
}