@import '../var.scss';

body {
    color: $dark;
}

.g-bg--green {
    background-color: $green;
}
.g-bg--green_light {
    background-color: $green-light;
}
.g-bg--green_dark {
    background-color: $green-dark;
}
.g-bg--blue {
    background-color: $blue;
}
.g-bg--blue_light {
    background-color: $blue-light;
}
.g-bg--blue_dark {
    background-color: $blue-dark;
}

.g-bg--yellow {
    background-color: $yellow;
}
.g-bg--red {
    background-color: $red;
}


.g-bg--dark {
    background-color: $dark;
}
.g-bg--dark_light {
    background-color: $dark-light;
}
.g-bg--gray {
    background-color: $gray;
}
.g-bg--gray_light {
    background-color: $gray-light;
}
.g-bg--light {
    background-color: $light;
}
.g-bg--white {
    background-color: $white;
}