@import './normalize.css';
@import './var.scss';


a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}

body {
    background: #eee;
}
header.navigation {
    // background: $main-color;
    overflow: hidden;
    color: $white;
    height: 7rem;
    font-size: 2rem;
    margin-bottom: $margin-big;

    .logo {
        float: left;
        font-weight: 900;
        font-size: 3rem;
        line-height: 7rem;
        padding: 0 3rem;
        position: relative;
        margin: 0;

        & span {
          color: $green;
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(50% + .7rem);
            margin-left: .5rem;
            background: $green;
            height: 2px;
            width: 1.5rem;

            animation: blink 1.5s steps(1) infinite;
        }

        @keyframes blink {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }
        }
    }
    nav {
        display: inline-block;
        float: right;
        height: 100%;
    }
    ul {
        padding: 0;
        margin: 0;
        height: inherit;
    }
    li {
        display: inline-block;
        margin: 0 .8rem;
        height: inherit;

        a {
            display: inline-block;
            height: inherit;
            color: $main-color-light;
            padding: 0 3rem;
            line-height: 7rem;

            &:hover {
                color: $white;
            }
        }

        &.active {
            border-bottom: 5px solid $green;

            a {
                color: $green;
            }
        }
    }
}

.wrap {

    article {
        width: 80%;
        background: $white;
        border-radius: 3px;
        margin: 0 auto;
        box-shadow: 1px 1px 2px rgba(0,0,0, .2), 1px 0 1px rgba(0, 0, 0, .2);
        margin-bottom: $margin-middle;
        // color: $main-color;
        // overflow: hidden;

        header {
            position: relative;
            padding: $margin-small 0;
            margin-bottom: $margin-middle;

            h2 {
                text-align: center;
                color: $main-color;
                // font-size: 1.5rem;
                margin: 0;
                margin-bottom: $margin-tiny;
            }

            p {
                text-align: center;
                font-size: .5rem;
                color: #aaa;
                margin: 0;
            }


            &::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 50px;
                background: $green-light;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
            }
        }
    }

    section {
        width: 90%;
        margin: 0 auto;

        .row > div {
            // padding: 2rem 1.4rem;
            // text-align: center;
            // color: $white;
        }
        
        > h3 {
            text-align: center;
            font-size: 2rem;
            position: relative;
            padding: 1rem;

            &::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 30px;
                background: $light;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }

    }
    .example {
        border: 1px solid $light;
        border-radius: 3px;
        font-size: 0;
        // padding: 2rem 3rem;
        position: relative;
        
        .result {
            padding: 2rem 3rem;
            font-size: 1.6rem;
        }
        .h4 {
            margin: 3rem 0 2rem 0;
            border-left: 1px solid $green;
            margin-left: calc(-3rem - 1px);
            padding: 0 3rem;
            font-size: 1.8rem;

            &:first-child {
                margin-top: 0;
            }
        }
        .code {
            // position: absolute;
            height: 100%;
            font-size: 1.6rem;
            // padding: 1rem 2rem;
            background: $light;
            user-select: none;
            // overflow: auto;
            .code-button {
                position: absolute;
                right: 1rem;
                top: -2.5rem;
                padding: .5rem 1.5rem;
                border-radius: 1rem 1rem 0 0;
                color: $gray-light;
                background: $light;
                cursor: pointer;

                &:hover {
                    color: $gray;
                }
            }
            // &:hover .code-button::before {
            //     content: 'Show Code';
            // }
        }
        pre {
            // position: absolute;
            // height: calc(100% - 2rem);
            // width: 100%;
            height: 2rem;
            padding: 0 2rem;
            margin: 0;
            margin-top: 2rem;
            overflow: hidden;
            color: $dark-light;
            // transition: height .5s ease-in-out;
        }

        .code.open {
            // height: auto;

            pre {
                height: auto;
                overflow: auto;
            }
        }
    }
    .color {
        .row > div {
            text-align: center;
            color: $white;
            padding: 2rem 1.4rem;
        }
        .row > .g-bg--white {
            color: $dark;
        }
    }
    .typography {
      .result > * {
        margin: 0;
        margin-bottom: $margin-tiny;
      }
    }
    .button {
        .g-button--group {
            margin-right: 1rem;
        }
    }
}