$main-color: #3e4f58;
$main-color-light: #85a7b9;
$second-color: #a2e7ff;

$white20: rgba(255, 255, 255, .2);
$white50: rgba(255, 255, 255, .5);
$white80: rgba(255, 255, 255, .8);

$margin-big: .5rem;
$margin-middle: .3rem;
$margin-small: .2rem;
$margin-tiny: .1rem;

$green: #54DD70;
$green-light: #89F29E;
$green-dark: #3CA651;

$blue: #38AFF6;
$blue-light: #73CBFF;
$blue-dark: #2085C1;

$yellow: #FFCD49;
$red: #F1584D;

$dark: #3D4448;
$dark-light: #535C60;
$gray: #747E86;
$gray-light: #ABB5BC;
$light: #E5E9EC;
$white: #fff;